Flask
Flask-SocketIO
gunicorn
psutil
requests
python-dotenv
pyTelegramBotAPI
python-telegram-bot
qrcode
Pillow
cryptography
protobuf
protobuf-decoder
httpx
pycryptodome
PyJWT
urllib3
pytz
aiohttp
cfonts
